
@{
    ViewData["Title"] = "Home";
}
@section Head {
    <script type="text/javascript">
        var viewModel;

        $(document).ready(function () {

            viewModel = {
                resultado: ko.observableArray([]),
                tableVisible: ko.observable(false)
            };
            
            ko.applyBindings(viewModel);
        });

        function loadDefaultLog() {
            
            $.ajax({
                type: "POST",
                url: "Upload/LoadDefaultLog",
                success: function (data) {
                    debugger;
                    //var myObj = JSON.parse(data)
                    viewModel.tableVisible(true);
                    viewModel.resultado(data);
                },
                error: function () {
                    alert("Erro ao carregar arquivo log padrão teste");
                },
                contentType: "application/json; charset=utf-8",
                dataType: "json"
            });
            }
        

        function preencherTabela(data) {
            
        }

    </script>
}
    <h2>Teste Gympass</h2>
    <hr />
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <section>
                <div class="row">

                    <button class="btn btn-default" onclick="loadDefaultLog()" style="padding-left: 1%;margin-left: 1%;"> Escolher Arquivo Corrida Padrão</button>
                </div>
            </section>
            <br />
            <br />
            <div class="row">
                <section>
                    <form method="post" enctype="multipart/form-data" asp-controller="Upload" asp-action="EnviarArquivo">
                        <div class="form-group">
                            <div class="col-md-10">
                                <p>Enviar arquivo log de corrida: </p>
                                <input type="file" name="arquivo" />
                            </div>

                        </div>
                        <div class="form-group">
                            <div class="col-md-10">
                                <input type="submit" value="Enviar Arquivo" />
                            </div>
                        </div>

                    </form>
                </section>
            </div>
        </div>

    </div>

    <div>
        <table id="tableResult" data-bind="visible: viewModel.tableVisible" class="table">
            <thead>
                <tr>
                    <th>Posição Chegada</th>
                    <th>Cód Piloto</th>
                    <th>Nome Piloto</th>
                    <th>Qtde Voltas Completadas</th>
                    <th>Tempo Total de Prova</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: viewModel.resultado">
                <tr>
                    <td data-bind="text:PosicaoChegada"></td>
                    <td data-bind="text:CodigoPiloto"></td>
                    <td data-bind="text:NomePiloto"></td>
                    <td data-bind="text:QtdVoltasCompletadas"></td>
                    <td data-bind="text:TempoTotalProva"></td>
                </tr>
            </tbody>
        </table>
    </div>

